.modal {
  display: grid;
  position: fixed;
  place-content: center;
  background: hsl(var(--clr-glass-dark));
  backdrop-filter: blur(1rem);
  inset: 20%;
  gap: 1rem;
  padding: 1rem;
}
.cart {
  padding: 1.8rem;
  background: hsl(var(--clr-glass-blank));
  cursor: pointer;
}
.cart a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: clamp(0.1rem, 5vw + 0.5rem, 3rem);
}
.python-logo {
  background-image: url(../../assets/python-logo.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 13%;
}
.angular-logo {
  background-image: url(../../assets/angular-logo.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 11%;
}
.reactjs-logo {
  background-image: url(../../assets/reactjs-logo.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 11%;
}
.frontEnd-logo {
  background-image: url(../../assets/html5-js-css3-logo.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 5%;
}
.close-modal {
  position: absolute;
  cursor: pointer;
  color: var(--clr-white);
}
.close-modal .cm {
  font-size: 18px;
}
@media (min-width: 50em) {
  .cart a {
    margin-left: 8%;
  }
  .modal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
  .python-logo {
    background-position: 9%;
  }
  .angular-logo {
    background-position: 6%;
  }
  .reactjs-logo {
    background-position: 10%;
  }
  .frontEnd-logo {
    background-position: 1%;
  }
}
